---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 80
UseTab: Never

---
Language: Cpp
Standard: c++20

# modifier formatting
DerivePointerAlignment: false
PointerAlignment: Right

# indendation
IndentCaseLabels: false
AccessModifierOffset: -4

# csv configs
AlwaysBreakTemplateDeclarations: Yes
BreakInheritanceList: BeforeComma
BreakConstructorInitializers: BeforeComma
AllowAllArgumentsOnNextLine: true
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: true
BinPackParameters: false

# block configs
BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
